<div class="backgSkill">
        <p id="skills"><i class="fas fa-laptop-code"></i>Mis Proyectos</p>
        <div class="row">
                        <div class="proyectos col-3"></div>
                        <div class="proyectos col-3"></div>
                        <div class="proyectos col-3"></div>
                        <div class="proyectos col-3"></div>
        </div>
        
        <!--
<div class="skillsImg">
          <img src="../../../assets/techs/html.png" class="tech">
 </div>
        -->
 
</div>
