*{
  padding: 0%;
  margin: 0%;
  border: 0%;
}
.backgSkill{
  width:100%;
  height:620px;
  background: url('../../../assets/skills.png');
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow:0 0 0 0; 
  position: absolute;
  top:83%;
}
#skills{
  color: white;
  font-size: 50px;
  position: absolute;
  top:15%;
  left: 4%;
}
#title1{
  font-family: 'Roboto', sans-serif;
  font-weight: 50;
  font-size: 28px;
  position: absolute;
  top:5.5%;
  left: 15%;
  z-index: 9999;
}
#title2{
  font-family: 'Roboto', sans-serif;
  font-weight: 50;
  font-size: 20px;
  position: absolute;
  top:5.5%;
  left: 6%;
  z-index: 9999;
}
#title3{
  font-family: 'Roboto', sans-serif;
  font-weight: 50;
  font-size: 28px;
  position: absolute;
  top:5.5%;
  left: 24%;
  z-index: 9999;
}
.skillsImg{
  position: absolute;
  top: 0%;
  width: 35%;
}

.tech{
  width: 35%;
}
.proyectos{
  position:absolute;
  top:5%;
  width: 25%;
  display: inline;
  left: 0%;
}
/*card proyectos*/
.card1 {
  text-align: center;
  position: absolute;
  left: 15%;
  top: 26vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.75em;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.card2 {
  text-align: center;
  position: absolute;
  left: 150%;
  top: 26vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.75em;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.card3 {
  text-align: center;
  position: absolute;
  left: 235%;
  top: 26vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.75em;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.card:nth-child(even) {
  margin: 0 1em;
}
.card2:nth-child(even) {
  margin: 0 1em;
}
.card3:nth-child(even) {
  margin: 0 1em;
}

.card-top {
  background: #b2dce5;
  padding: 3em;
  padding-bottom: 0%;
}
.card-top .card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10em;
  width: auto;
  position: relative;
  
}
.card-top .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 17.75em;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  transition: all 700ms ease;
  opacity: 0;
}
.card-top .overlay h1 {
  text-align: center;
  font-weight: 500;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.card-top .overlay:hover, .card-top .overlay:focus {
  opacity: 1;
}

.card-top i{
  font-size: 40px;
  position: relative;
  background-color: white;
  margin-left: 95%;
  border-radius: 10px;
}
.triangle {
  position: relative;
  margin: 0 auto -1.75em auto;
  top: -0.25em;
  z-index: 20;
}
.card-middle {
  display: none;
  background: #efefef;
  padding: 2em 1em 1em 1em;
}
.card-middle .more {
  font-family: Open Sans;
  text-align: justify;
}

.card-middle2 {
  display: none;
  background: #efefef;
  padding: 2em 1em 1em 1em;
}
.card-middle2 .more2 {
  font-family: Open Sans;
  text-align: justify;
}
.card-middle3 {
  display: none;
  background: #efefef;
  padding: 2em 1em 1em 1em;
}
.card-middle3 .more3 {
  font-family: Open Sans;
  text-align: justify;
}

.card-bottom {
  background: #f7f7f7;
  padding: 1.75em 1em 1em 1em;
}
.card-bottom .card-title {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.circle-button {
  position: absolute;
  bottom: 0;
  right: 3.5em;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: #fff;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .275);
  outline: none;
  cursor: pointer;
  transition: all 300ms ease;
}
.circle-button .close {
  transition: transform 400ms ease;
}
.circle-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .275);
  
}
.closeRotate {
  transform: rotate(45deg);
}
