<div class="backgSkill">
  <p id="skills"><i class="fas fa-laptop-code"></i>Mis Proyectos</p>
  <p id="parrafito1">Aca puedes ver un preview de algunos de mis trabajos en App, Mobile y Web.</p>
  <div class="row">
      <div class="proyectos">
        <div class="small-7 medium-5 large-4 column end small-centered card1">
                <div class="card-top">
                    <a href="https://karynherrera.github.io/scl-2018-01-ProyectoFinalCore/">
                        <div class="overlay">
                            <h1>Click para ir al Demo</h1>
                        </div>
                    </a><h3 id="title1">Registro de Usuarios</h3><br><img class="card-img" src="http://drive.google.com/uc?export=view&id=1SBsmytmOPylzucjJHoUCWY3hx08_Kb6F"/>
                    <i class="devicon-javascript-plain colored"></i>
                </div>
                <div class="card-middle">
                    <h5 class="more">La app MI VISITA es una solución pensada para el control de ingreso de visitantes a una recepción, se tiene toda la información que se necesita en un solo lugar, de manera rápida y ordenada, pudiendo ver historiales y posibles contactos.
                    Además a través de un mail, se notifica a la persona visitada, para que autorice el ingreso. Fue desarrollada con JS y Firebase Real-Data</h5>
                </div>
                <div class="triangle">
                <div class="card-bottom text-center">
                    <h2 class="card-title" id="circleDrop">Leer sobre el proyecto...</h2>
                </div>
            </div>
            </div>
      </div>
      <div class="proyectos">
        <div class="small-7 medium-5 large-4 column end small-centered card2">
                <div class="card-top">
                    <a href="https://plantingfriends.firebaseapp.com/">
                        <div class="overlay">
                            <h1>Click para ir al Demo</h1>
                        </div>
                    </a><h3 id="title2">Red Social Ecólogica</h3><br><img class="card-img" src="http://drive.google.com/uc?export=view&id=11XVQzHwA4BvvY4w3A8Leq0EuJl8QHos6"/>
                    <i class="devicon-angularjs-plain colored"></i>
                </div>
                <div class="card-middle2">
                    <h5 class="more2">Red social enfocada en el cuidado del medio ambiente y reunir personas con ideas afines. La aplicación fue desarrollada con Angular 6 y Firestore.</h5>
                </div>
                <div class="triangle">
                <div class="card-bottom text-center"id="circleDrop2">
                    <h2 class="card-title" >Leer sobre el proyecto...</h2>
                </div>
            </div>
            </div>
      </div>
      <div class="proyectos">
        <div class="small-7 medium-5 large-4 column end small-centered card3">
                <div class="card-top">
                    <a href="https://karynherrera.github.io/pinterest/">
                        <div class="overlay">
                            <h1>Click para ir al Demo</h1>
                        </div>
                    </a><h3 id="title3">Replica de Pinterest</h3><br><img class="card-img" src="http://drive.google.com/uc?export=view&id=1Qxa8GKsecKrJBHXSVXzSSNdXpka13nZK"/>
                    <i class="devicon-angularjs-plain colored"></i>
                </div>
                <div class="card-middle3">
                    <h5 class="more3">Replica de la red social Pinterest, tomando como base de datos la Api Rest de Unplash. Se utilizó Angular 6 para desarrollar el proyecto.</h5>
                </div>
                <div class="triangle">
                <div class="card-bottom text-center"id="circleDrop3">
                    <h2 class="card-title" >Leer sobre el proyecto...</h2>
                </div>
            </div>
            </div>
      </div>
  </div>
        
        <!--
<div class="skillsImg">
          <img src="../../../assets/techs/html.png" class="tech">
 </div>
        -->
 
</div>
