*{
  padding: 0%;
  margin: 0%;
  border: 0%;
}
.backg{
  width:100%;
  height:650px;
  background: url('../../../assets/headerImg.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  box-shadow:0 0 0 0; 
}

.imgPerfil{
  width: 12%;
  position: absolute;
  left: 13%;
  top:10%;
}

#skills{
  color: black;
  font-size: 50px;
  position: absolute;
  bottom: 15%;
}
.skillsImg{
  position: absolute;
  top: 51%;
  width: 10%;
}
#html{
  position: absolute;
  left: 3%;
  width: 10%;
}

#js{
  position: absolute;
  left: 13%;
  width: 10%;
}
#css{
  position: absolute;
  left: 24%;
  width: 8%;
}
#api{
  position: absolute;
  left: 34%;
  width: 10.5%;
  top: 52%;
}
#firebase{
  position: absolute;
  left: 47%;
  top: 52%;
  width: 11%;
}
#node{
  position: absolute;
  left: 60%;
  width: 9%;
  top: 52%;
}
#bootstrap{
  position: absolute;
  left: 71%;
  width: 11.5%;
  top: 52%;
}
#angular{
  position: absolute;
  left: 84%;
  width: 9.5%;
  top: 52%;
}

#developer{
  font-family: 'Franklin Gothic Medium';
  font-size: 50px;
  text-align: left;
  color: white;
  position: absolute;
  left: 32%;
  top:28%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
#aboutMe{
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Franklin Gothic Medium';
  font-size: 22px;
  text-align: left;
  position: absolute;
  left: 0%;
  top:39%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

#aboutMe2{
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Franklin Gothic Medium';
  font-size: 22px;
  text-align: left;
  position: absolute;
  left: 0%;
  top:43%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.btnM{
  color:white;
  cursor: pointer;
  font-size: 110%;
  display: inline-block;
  padding: 1%;
  width: 20%;
  border:none;
  margin: 1%;
  opacity: 0.9;
  background-color: #333646;
  border-radius: 5px;
}

.btnM:hover {
  opacity: 1;
  background-color: #87D3D1;
  color: #333646;
}

.menuBtn{
  margin-left: 5%;
  margin-right: 5%;
  top: 55%;
  position: relative;
  left: 3%;
  width: 100%;
}


#name{
  font-family: 'Franklin Gothic Medium';
  margin-left: -2.5em;
  font-size: 6.25em;
  text-align: left;
  position: absolute;
  top: 7%;
  left: 50%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: white;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: white;
  -webkit-animation: type .5s 3.25s steps(20, end) forwards;
  -moz-animation: type .5s 3.25s steps(20, end) forwards;
  -o-animation: type .5s 3.25s steps(20, end) forwards;
  animation: type .5s 3.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5s 1 forwards;
  -moz-animation: blink 1s 5s 1 forwards;
  -o-animation: blink 1s 5s 1 forwards;
  animation: blink 1s 5s 1 forwards;
}

.line3 {
  color: white;
  -webkit-animation: typeDelay .5s 5.5s steps(20, end) forwards;
  -moz-animation: typeDelay .5s 5.5s steps(20, end) forwards;
  -o-animation: typeDelay .5s 5.5s steps(20, end) forwards;
  animation: typeDelay .5s 5.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 5.5s 2 forwards;
  -moz-animation: blink 1s 5.5s 2 forwards;
  -o-animation: blink 1s 5.5s 2 forwards;
  animation: blink 1s 5.5s 2 forwards;
}

.line4 {
  color: white;
  -webkit-animation: typeDelay .6s 8.5s steps(20, end) forwards;
  -moz-animation: typeDelay .6s 8.5s steps(20, end) forwards;
  -o-animation: typeDelay .6s 8.5s steps(20, end) forwards;
  animation: typeDelay .6s 8.5s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 8.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 9em;
  }
}

@-moz-keyframes type {
  to {
    width: 9em;
  }
}

@-o-keyframes type {
  to {
    width: 9em;
  }
}

@keyframes type {
  to {
    width: 9em;
  }
}

/*type parrafo largo*/

@-webkit-keyframes typeDelay {
  to {
    width: 54.3em;
  }
}

@-moz-keyframes typeDelay {
  to {
    width: 54.3em;
  }
}

@-o-keyframes typeDelay {
  to {
    width: 54.3em;
  }
}

@keyframes typeDelay {
  to {
    width: 54.3em;
  }
}