<div class="backg">
      <div class="col-6">
         <!-- <img class="imgPerfil"src="../../../assets/img.png"> -->
       </div>
       <div class="col-6">
          <p id="name" class="line1">Karyn Herrera<span class="cursor1">_</span></p>
          <p id="developer"class="line2">Front-end Developer<span class="cursor2">_</span></p>
          <div class="container">
          <p id="aboutMe" class="line3">Hola, soy una apasionada de la tecnologia ya que me gusta estar en constante aprendizaje,<span class="cursor3">_</span></p>
          <p id="aboutMe2" class="line4">He estudiado Ingeniería en Informática y diseño gráfico digital.<span class="cursor4">_</span></p>
          <p id="aboutMe3" class="line5">¡Mi objetivo es formar parte de un equipo en que pueda mejorar mis habilidades dia a día!<span class="cursor5">_</span></p>
       </div>
     </div>
     <div class="cont">
        <img class="skillsImg" id="html" src="http://drive.google.com/uc?export=view&id=12eU0uvkR6H0bmZ319Ma0Km8aOYGP_f-y">
        <img class="skillsImg" id="js" src="http://drive.google.com/uc?export=view&id=1CBvE81sS2E213W9CykBFqlLLbTIAPMby">
        <img class="skillsImg" id="css" src="http://drive.google.com/uc?export=view&id=1MKXhHZ9fvvG4AIaHLIViryphHYzei4yV">
        <img class="skillsImg" id="api" src="http://drive.google.com/uc?export=view&id=1xxRLWtZkQ1YzWOP0q59BBdKER7eGMBgf">
        <img class="skillsImg" id="firebase" src="http://drive.google.com/uc?export=view&id=1YYAlj8A-I-RqPcfYY7padWAqW0sffgA4">  
        <img class="skillsImg" id="node" src="http://drive.google.com/uc?export=view&id=1G2dQ8UQrYbNGQEdVuNbY4-_zXz-eJOxL">
        <img class="skillsImg" id="bootstrap" src="http://drive.google.com/uc?export=view&id=1tHin8U0ikq9PVxBWnlULi9U3rZOJIzYv">
        <img class="skillsImg" id="angular" src="http://drive.google.com/uc?export=view&id=1qYmIGNC5heXn-g4mraUEzte7RL9H6DZe">
     </div>
   <!-- 
    <div class="menuBtn">
    <button  type="button" class='btnM' id="all">All</button>
    <button  type="button" class='btnM' id="skills">Skills</button>
    <button  type="button" class='btnM'id="proyectos">Mis Proyectos</button>
    <button  type="button" class='btnM' id="contacto">Contacto</button>
   </div>
   -->
 </div>