<div class="backgContact">  
  <p id="contact"><i class="far fa-comments"></i>Contacto</p>
  <div class="business-card" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <div class="name">
              <span class="first">Front-end Developer</span> 
              <span class="last">Karyn Herrera</span>
              <span class="title"></span>
            </div>
        </div>
        <div class="back">
          <div class="container-sm">
          </div>
          <div class="container-lg">
            <ul class="social fa-ul">
              <li><i class="fa fa-li fa-envelope contactLink"></i><a href="karynherrera@gmail.com">karynherrera@gmail.com</a></li>
              <li><i class="fa fa-li fa-phone contactLink"></i><a href="tel:+569 52598409">(+569)52598409)</a></li>
              <li><i class="fab fa-linkedin contactLink"></i><a href="https://www.linkedin.com/in/karynherrera/">Linkedin</a></li>
              <li><i class="fab fa-github contactLink"></i><a href="https://github.com/karynherrera">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
